.box {
	border: 1px solid cyan;
	width: 30em;
	height: 30em;
	margin: 5% auto 0;
}
.dot {
	width: 10em;
	height: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot--1 {
	background: black;
	color: white;
}
.dot--2 {
	background: #414141;
	color: white;
}
.dot--3 {
	background: #800;
	color: white;
}

/* Tus estilos a partir de aquí */

/*FLEX*/
.box {
	display: flex;
	flex-direction: column;

}
.dot--2 {
	align-self: center;
}
.dot--3 {
	align-self: flex-end;
}
/*.dot--2 {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
 }
.dot--3 {
	position: relative;
	right: 0;
	bottom: 0;
}*/

/*POSITION*/

/*.box {
	position: relative;
}

.dot {
	position: absolute;
	display: inline-block;
	line-height: 10em;
	text-align: center;

}
.dot--2 {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dot--3 {
	bottom: 0;
	right: 0;
}*/
